h1{
  font-family: 'Lilita One', cursive;
}
body{


  font-family: 'BIZ UDMincho', serif;
  background-color: white;
}
.container-fluid{
     margin: 0;
    text-align: justify;
    font-family: 'Scada', sans-serif;
    padding: 15%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bolder;

  }
h3{

  font-family: 'Cormorant Garamond', serif;
}
.navbar-brand{
  font-family: 'Montez', cursive;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 0rem;
}
.navbar-item{
  padding: 0 10px;
}
.nav-link{
  font-family: 'Monda', sans-serif;
}
